<!-- Services Section -->
    <section id="covid-statement" class="bg-light-gray" style="padding:50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">COVID Statement</h2>
                </div>
            </div>
            <div class="row container">
                <div class="col-lg-12 text-center">
                    There is nothing more important than the health and safety of yourself and others. With the popularity of the event, growth of COVID19 cases, and increased transmission risk of the Delta variant we've updated our <a href="https://docs.google.com/document/d/1Htc00n3qkOPpBZqAMxMeCLLKIJbNKuiMCN4Hd9tzL2I/edit?usp=sharing" target="_blank">COVID19 policy</a>. 
                    
                    <br><br>

                    Nearly all (if not all) activities will take place outside with lots of room to maintain space between others. Those staying overnight are encouraged to protect the health of any others they invite into their space. 
                    <b>All attendees are expected to be mindful and respectful of others at all times</b>. 

                    <br><br>
                    The full COVID statement can be found <a href="https://docs.google.com/document/d/1Htc00n3qkOPpBZqAMxMeCLLKIJbNKuiMCN4Hd9tzL2I/edit?usp=sharing" target="_blank">here</a>. 

                </div>
            </div>
        </div>
    </section>