<!-- Services Section -->
    <section id="covid-statement" class="bg-light-gray" style="padding:50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">COVID Statement</h2>
                </div>
            </div>
            <div class="row container">
                <div class="col-lg-12 text-center">
                    We take the safety of every attendee seriously and ask that all who attend be vaccinated for COVID. 
                    
                    <br><br>

                    Nearly all (if not all) activities will take place outside with lots of room to maintain space between others. Those staying overnight are encouraged to protect the health of any others they invite into their space. 
                    <b>All attendees are expected to be mindful and respectful of others at all times</b>. 

                </div>
            </div>
        </div>
    </section>