---
layout: 2021_default
permalink: /agenda
title: Agenda
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>

        <h2>Day 1: Friday (September 10)</h2>
        <p>For those that purchased tickets for an overnight stay you can come to the Ranch on Friday to setup, meet others, BBQ, play lawn games, or other outdoor activities in the beautiful mountains around Marble.</p>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>
            </thead>

            {% for agenda in site.data.twenty_21.agendas_1 %}
                <tr>
                    <td>{{ agenda.time }}</td>
                    <td>{{ agenda.info }}</td>
                </tr> 
            {% endfor %}
        </table>

        <h2>Day 2: Saturday (September 11)</h2>
        <p>Saturday is the main event and includes a full day of Open Spaces style idea sharing (like an un-conference), outdoor adventures, food, and hangouts.</p>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>

            </thead>

            {% for agenda in site.data.twenty_21.agendas_2 %}
                <tr>
                    <td>{{ agenda.time }}</td>
                    <td>{{ agenda.info }}</td>
                </tr> 
            {% endfor %}
        </table>

        <h2>Day 3: Sunday (September 12)</h2>
        <p>Sunday has no agenda so you can take time to enjoy your weekend.</p>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>

            </thead>

            {% for agenda in site.data.twenty_21.agendas_3 %}
                <tr>
                    <td>{{ agenda.time }}</td>
                    <td>{{ agenda.info }}</td>
                </tr> 
            {% endfor %}
        </table>
    </div>