<!DOCTYPE html>
<html>

  {% include 2021_data/head.html %}


    <body id="page-top" class="index">

    {% include 2021_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading-top">The Rural<br></div>
                <div class="intro-heading-bottom">Tech Retreat <span class="intro-heading-date">2021</span></div>  <br>
                <div class="intro-lead-in">September 10 - 12</div>
                <div class="intro-lead-in">Marble Colorado | Deep in the mountains</div>
                <!-- <a href="#intro" class="page-scroll btn btn-xl">Well hot damn, tell me more!</a> -->
            </div>
        </div>
    </header>

    {% include 2021_data/intro.html %}
    {% include 2021_data/speakers.html %}
    {% include 2021_data/about.html %}
    {% include 2021_data/sponsors.html %}
    <!-- {% include 2021_data/contact.html %}  -->
    {% include 2021_data/footer.html %}
    {% include 2021_data/speakers_info.html %}
    {% include 2021_data/js.html %}

    </body>
</html>