<!DOCTYPE html>
<html>

  {% include 2022_data/head.html %}


    <body id="page-top" class="index">

    {% include 2022_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading-top">The Rural<br></div>
                <div class="intro-heading-bottom">Tech Retreat <span class="intro-heading-date">2022</span></div>  <br>
                <div class="intro-lead-in">Moab Utah</div>
                <div class="intro-lead-in">Spring Edition | May 6 - 8</div>
                <!-- <a href="#intro" class="page-scroll btn btn-xl">Well hot damn, tell me more!</a> -->
                <!-- <div class="intro-heading-sold-out">SOLD OUT<br></div> -->
            </div>
        </div>
    </header>

    {% comment %}
    {% include 2022_data/covid.html %}
    {% endcomment %}

    {% include 2022_data/intro.html %}
    {% include 2022_data/scholarships.html %}

    {% comment %}
    {% include 2022_data/speakers.html %}
    {% endcomment %}

    {% include 2022_data/about.html %}

    {% comment %}
    {% include 2022_data/sponsors.html %}
    {% include 2022_data/contact.html %} 
    {% endcomment %}

    {% include 2022_data/footer.html %}
    {% include 2022_data/speakers_info.html %}
    {% include 2022_data/js.html %}

    </body>
</html>
